<div class="main">
  <h1>Your Shoe Distribution Web App</h1>
  <br>
  <span class="main-nav">
    <a href="/stores">View all stores</a>
    <br>
    <a href="/brands">View all brands</a>
    <br>
  </span>
</div>
